* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

blockquote { background-color: #F5F5F5; }

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.title {
  margin-bottom: 0;
  font-size: 1.5em;
}

.meta {
  color: #aaa;
}

.toc-wrap { text-align: center; }

.toc {
  padding: 7px;
  text-align: left;
  display: inline-block;
  list-style-type: none;
  border: 1px solid #AAAAAA;
  background-color: #F9F9F9;
}

.toc-title {
  font-weight: bold;
  text-align: center;
}

.toc a {
  color: #0645AD;
  text-decoration: none;
}

.toc a:hover { text-decoration:underline; }

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}
